<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item {% if navbar == 'home' %}active {% endif %}">
                <a class="nav-link" href="{% url 'flashcards_site:index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Hello {{ user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item {% if navbar == 'login' %}active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                </li>
                <li class="nav-item {% if navbar == 'register' %}active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>